﻿@model IEnumerable<InventOnSampleApp.Models.Kategoria>

<div>
    <h3>Wyniki wyszukiwania w kategoriach:</h3>

    <div class="col-md-4">
        @Html.Partial("_katlink", Model.ElementAt(0))<br/>
        @Html.Partial("_katlink", Model.ElementAt(1))<br/>
        @Html.Partial("_katlink", Model.ElementAt(2))
    </div>
    <div class="col-md-4">
        @Html.Partial("_katlink", Model.ElementAt(3))<br/>
        @Html.Partial("_katlink", Model.ElementAt(4))<br/>
        @Html.Partial("_katlink", Model.ElementAt(5))
    </div>
    <div class="col-md-4">
        @Html.Partial("_katlink", Model.ElementAt(6))<br/>
        @Html.Partial("_katlink", Model.ElementAt(7))<br/>
        @Html.Partial("_katlink", Model.ElementAt(8))
    </div>

</div>
