﻿@model IEnumerable<InventOnSampleApp.Models.Produkt>

<img width="100%" src="~/Content/Clipboard-5.jpg" />
<br />
<div>
    @foreach (var item in Model)
    {
        <div class="row">

            <br />
            <div class="col-md-1">
                <a href='@Url.Action("Produkt", new { id = item.Id })'>
                    <img src='@Url.Content(item.ImageUri)' />
                </a>
            </div>
            <div class="col-md-8">
                @Html.ActionLink(item.Nazwa, "Produkt", new { id = item.Id }, new { @style = "color:red" })<br />
                @item.Opis<br />
                @item.CenaMinimalna&nbsp;zł<br />
            </div>
            <div class="col-md-3">
                @item.Sprzedający<br />
                @item.MinimalneZamówienie&nbsp;sztuk<br />
                @item.CzasDostawy&nbsp;dni<br/>
            </div>
            <br/>
        </div>
    
        <br />
    }
</div>
