﻿@model IEnumerable<InventOnSampleApp.Models.Produkt>

<div>
    <h3>Podobne produkty: </h3>

    <div>
        @for (int i = 0; i < 6; i++)
        {
            <div class="col-md-2">
                <a href='@Url.Action("Produkt", new {id = Model.ElementAt(i).Id})'>
                    <img src='@Url.Content(Model.ElementAt(i).ImageUri)' />
                </a>
                <br />
                @Html.ActionLink(Model.ElementAt(i).Nazwa, "Produkt", new {id = Model.ElementAt(i).Id}, new {@style = "color:red"})
            </div>
        }
        <br />

        <div class="pull-right">@Html.ActionLink("wiecej podobnych produktów >", "WPP")</div>
        <br />
    </div>
    <br />

</div>
