﻿@model InventOnSampleApp.Models.KategoriaViewModel
@{
    ViewBag.Title = "Kategoria";
}

<div class="row">
    <div class="col-md-9">
        <h6><b>Powiązane wyniki wyszukiwania: </b>@Html.ActionLink(Model.A.Text, "A", new { searchPhrase = Model.A.Value })</h6>
        <h6><b>Najpopularniejsze wyniki wyszukiwania: </b>@Html.ActionLink(Model.B.Text, "B", new { searchPhrase = Model.B.Value })</h6>
        @Html.Partial("_C", Model.CKategoriaList)
        <br />
        @Html.Partial("_D", Model.DProduktList)
        <br />
        @Html.Partial("_E", Model.EProduktPodobnyList)
        <br />
        @Html.Partial("_F", Model.FKategoriaPodobnaList)
    </div>
    <div class="col-md-3">
        <img src="~/Content/Clipboard-3.jpg" />
    </div>
</div>

