﻿@model InventOnSampleApp.Models.Kategoria

@{
    ViewBag.Title = "Kategoria";
}

<fieldset>
    <legend>Kategoria</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nazwa)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nazwa)
    </div>

@*    <div class="display-label">*@
@*         @Html.DisplayNameFor(model => model.Count)*@
@*    </div>*@
@*    <div class="display-field">*@
@*        @Html.DisplayFor(model => model.Count)*@
@*    </div>*@
</fieldset>
@*<p>*@
@*    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |*@
@*    @Html.ActionLink("Back to List", "Index")*@
@*</p>*@
