﻿@model InventOnSampleApp.Models.Produkt

@{
    ViewBag.Title = Model.Nazwa;
}

<fieldset>
    <legend>Produkt</legend>

    <div>
         @Html.DisplayNameFor(model => model.Nazwa)
    </div>
    <div>
        @Html.DisplayFor(model => model.Nazwa)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.Opis)
    </div>
    <div>
        @Html.DisplayFor(model => model.Opis)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.CenaMinimalna)
    </div>
    <div>
        @Html.DisplayFor(model => model.CenaMinimalna)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.Sprzedający)
    </div>
    <div>
        @Html.DisplayFor(model => model.Sprzedający)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.MinimalneZamówienie)
    </div>
    <div>
        @Html.DisplayFor(model => model.MinimalneZamówienie)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.CzasDostawy)
    </div>
    <div>
        @Html.DisplayFor(model => model.CzasDostawy)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.ImageUri)
    </div>
    <div>
        @Html.DisplayFor(model => model.ImageUri)
    </div>
</fieldset>
