﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*    @Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/bootstrap")
</head>
<body>
    
    <div class="container">
        <div class="row">
            <a href="/"><img width="100%" src="~/Content/Clipboard-1.jpg"/></a>
            @RenderBody()
            <img width="100%" src="~/Content/Clipboard-2.jpg"/>
            @Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)
        </div>
    </div>
</body>
</html>
